:root {
  --background-color-blue: #167cdd;
}

* {
  font-family: Inter, sans-serif;
}

.font-strong {
  font-weight: 600;
}

.font-less {
  font-weight: 300;
}

.button-menu {
  transition: ease-in 0.1s;
}

.button-menu:hover {
  opacity: 0.9;
  background: #ececec;
  transition: ease-in 0.1ms;
}

.exec,
.config,
.edit {
  border-bottom: 1px solid var(--background-color-blue);
}

.bg-blue-project {
  background-color: var(--background-color-blue);
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #BACCFF #167CDD;
}*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 100px;
  height: 100px;
}
::-webkit-scrollbar-thumb {
  background: #b9bdda;
  border: 0px none #ffffff;
  border-radius: 97px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #95adf4;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 54px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}